<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>

            <main>
                <% if (trips.length > 0) { %>
                    <div class="grid">
                        <% for (let trip of trips) { %>
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= trip.name %>
                                    </h1>
                                    <div class="centered">
                                        <span><%= trip.origin %></span>
                                        <br>
                                        <span>to</span>
                                        <br>
                                        <span><%= trip.destination %></span>
                                    </div>
                                </header>
                                <div class="card__image">
                                    <img src="<%= trip.imageUrl %>" alt="<%= trip.name %>">
                                </div>
                                <!-- Change this to weather data -->
                                <div class="card__content">
                                    <p class="centered">Today's Temperature</p>
                                    <h2 class="product__price">
                                        <% const description = trip.weather.current.weather[0].description; %>
                                        <% if (description.includes("clear")) { %>
                                            <i class='fas fa-sun'></i>
                                        <% } else if (description.includes("clouds")) { %>
                                            <i class='fas fa-cloud-sun'></i>
                                        <% } else if (description.includes("clouds")) { %>
                                            <i class='fas fa-cloud'></i>
                                        <% } else if (description.includes("thunderstorm")) { %>
                                            <i class='fas fa-bolt'></i>
                                        <% } else if (description.includes("freezing")) { %>
                                            <i class='fas fa-temperature-low'></i>
                                        <% } else if (description.includes("snow") || description.includes("sleet") || description.includes("hail")) { %>
                                            <i class='fas fa-snowflake'></i>
                                        <% } else if (description.includes("drizzle") || description.includes("rain")) { %>
                                            <i class='fas fa-cloud-rain'></i>
                                        <% } %>
                                        <%= trip.weather.current.temp %>°F
                                    </h2>
                                    <p class="product__price"><%= trip.weather.current.weather[0].description %></p>
                                    <br>
                                    <p class="centered">Planned Date</p>
                                    <h2 class="product__price">
                                        <% if (trip.plannedDate) { %>
                                            <%= trip.plannedDate.toISOString().split('T')[0] %>
                                        <% }; %>
                                    </h2>
                                </div>
                                <div class="card__actions">
                                    <a href="/admin/edit-trip/<%= trip._id %>?edit=true" class="btn">Edit</a>
                                    <form action="/admin/delete-trip" method="POST">
                                        <input type="hidden" value="<%= trip._id %>" name="tripId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>