<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>

<body>
    <%- include('../includes/header.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="product-form" action="/user/<% if (editing) { %>edit-trip<% } else { %>add-trip<% } %>" method="POST">
            <div class="form-control">
                <label for="name">Name</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'name') ? 'invalid' : '' %>"
                    type="text" 
                    name="name" 
                    id="name"  
                    value="<% if (editing || hasError) { %><%= trip.name %><% } %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
                    type="text" 
                    name="imageUrl" 
                    id="imageUrl" 
                    value="<% if (editing || hasError) { %><%= trip.imageUrl %><% } %>">
            </div>
            <div class="form-control">
                <input
                    name="origLat"
                    id="origLat"
                    type="hidden"
                />
                <input
                    name="origLng"
                    id="origLng"
                    type="hidden"
                />
                <input
                    name="destLat"
                    id="destLat"
                    type="hidden"
                />
                <input
                    name="destLng"
                    id="destLng"
                    type="hidden"
                />

                <div style="display: none">
                    <input
                        name="origin"
                        id="origin-input"
                        class="controls"
                        type="text"
                        <% if (editing || hasError) { %>
                            value="<%= trip.origin %>"
                        <% } else { %>
                            placeholder="Enter an origin location"
                        <% } %>    
                    />
                
                    <input
                        name="destination"
                        id="destination-input"
                        class="controls"
                        type="text"
                        <% if (editing || hasError) { %>
                            value="<%= trip.destination %>"
                        <% } else { %>
                            placeholder="Enter a destination location"
                        <% } %>  
                    />
                </div>
        
                <div id="map"></div>
                <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
                <script
                    src="https://maps.googleapis.com/maps/api/js?key=<%= api_key %>&callback=initMap&libraries=places&v=weekly"
                    async>
                </script>
            </div>
            <div class="form-control">
                <label for="plannedDate">Date</label>
                <input type="date" id="plannedDate" name="plannedDate" style="font-size:15px;" value=<% if (editing || hasError) { %><%= trip.plannedDate.toISOString().slice(0,10) %><% } %>>
            </div>
            <div class="form-control">
                <label for="levelOfIntensity">Level of Intensity</label>
                <select name="levelOfIntensity" id="levelOfIntensity" style="width:100%;font-size:15px;">
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
                <% if (editing || hasError) { %>
                    <script>document.getElementById("levelOfIntensity").value = "<%= trip.levelOfIntensity %>"</script>
                <% } %>
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea 
                    class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                    name="description" 
                    id="description" 
                    rows="5"><% if (editing || hasError) { %><%= trip.description %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= trip._id %>" name="tripId">
            <% } %>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit"><% if (editing) { %>Update Trip<% } else { %>Add Trip<% } %></button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>