<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/trip.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>

    <body>
        <%- include('../includes/header.ejs') %>

            <main>
                <% if (trips.length > 0) { %>
                    <div class="grid">
                        <% for (let trip of trips) { %>
                            <article class="card trip-item clickable" onclick="location.href='/user/my-trips/<%= trip._id %>'">
                                <header class="card__header">
                                    <h1 class="trip__name">
                                        <%= trip.name %>
                                    </h1>
                                    <div class="centered">
                                        <span><%= trip.origin %></span>
                                        <br>
                                        <span>to</span>
                                        <br>
                                        <span><%= trip.destination %></span>
                                    </div>
                                </header>
                                <div class="card__image">
                                    <img src="<%= trip.imageUrl %>" alt="<%= trip.name %>">
                                </div>
                                <!-- Change this to weather data -->
                                <div class="card__content">
                                    <p class="centered">Today's Temperature</p>
                                    <h2 class="trip__detail">
                                        <i class='fas fa-<%= getWeatherIcon(trip.weather.current.weather[0].description) %>'></i>
                                        <%= Math.round(trip.weather.current.temp) %>°F
                                    </h2>
                                    <p class="trip__detail">with <%= trip.weather.current.weather[0].description %></p>
                                    <br>
                                    <p class="centered">Planned Date</p>
                                    <h2 class="trip__detail">
                                        <% if (trip.plannedDate) { %>
                                            <%= trip.plannedDate.toDateString() %>
                                        <% }; %>
                                    </h2>
                                </div>
                                <div class="card__actions">
                                    <a href="/user/start/<%= trip._id %>" class="btn">Start</a>
                                    <a href="/user/edit-trip/<%= trip._id %>?edit=true" class="btn">Edit</a>
                                    <form action="/user/delete-trip" method="POST">
                                        <input type="hidden" value="<%= trip._id %>" name="tripId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No Trips Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>